# Filesystem
.DS_Store
.idea
.vscode
Thumbs.db
Desktop.ini
._*
# Node
npm-debug.log
node_modules

# Cordova Auto-Generation
coverage
build
node_modules
npm-debug.log
cordova/platforms
cordova/plugins
cordova/npm-debug.log
cordova/node_modules
cordova/www
cordova/build.sh
platforms
plugins

platforms
plugins
www


# Cruft
.DS_Store
npm-debug.log
.idea
/.vscode
package-lock.json
yarn-error.log