html
  head
    title Real Time Chat
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="style.css")
    //- style(style="text/css")
    //-   @import url('https://fonts.googleapis.com/css?family=Montserrat')
  body
    div.room
      ul.list-online
      div.chat-wrapper
        div#thread-container
          div.header-info
            h1 Chat Room
          div#thread
          span.typing
        div.message-form-wrapper
          form#messages-form
            input#message-box(type="text" placeholder="Your message" autocomplete="off")
            span.submit-btn-wrapper
              input.submit-btn(type="submit" value="")

    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js")
    script(src="scripts/client.js")