html
  head
    title Real Time Chat
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="style.css")
  body
    h1 Registry your nickname
    div.form-wrapper
      form#registry-form(action="/login" method="post")
        input#nickname(type="text" name="nickname" placeholder="nickname" autocomplete="off" required)
        input(type="submit" value="Send")
    if err
      p.error-message= err
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src="scripts/login.js")