html, body {
  text-align: center;
  font-family: 'Avenir Next', 'Helvetica', 'Arial', sans-serif;
}

html,body,li,form,ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  text-align: left;
}

p {
  margin: 0;
}

input:focus {
  outline: none;
}

.room {
  width: 50vw;
  height: 600px;
  margin: 0 auto;
  border: gray 1px solid;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.room::after {
  content: '';
  clear: both;
  display: block;
}

.list-online {
  width: 15%;
  float: left;
  height: 100%;
  background-color: #ECEBF9;
}

.user-online {
  padding: 20px 10px;
  line-height: 38px;
  text-align: center;
}

.chat-wrapper {
  float: left;
  width: 85%;
  height: 600px;
  position: relative;
  box-sizing: border-box;
  border-left: gray 1px solid;
  font-family: 'Montserrat', sans-serif;
}

#thread-container {
  padding: 10px 20px 0 20px;
  margin-bottom: 10px;
  height: 540px;
  box-sizing: border-box;
  position: relative;
}

.header-info {
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: solid 2px darkgray;
}

#thread {
  max-height: 440px;
  overflow-y: scroll;
  transform: translate3d(0, 440px, 0); 
}

#thread div:last-child {
  margin-bottom: 30px;
}

#thread::-webkit-scrollbar { 
  display: none;
}

.message-form-wrapper {
  text-align: left;
  height: 50px;
  position: relative;
  background-color: #e5e5e5;
}

#messages-form {
  padding: 5px 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#message-box {
  border: none;
  line-height: 35px;
  width: 80%;
  font-family: 'Montserrat', sans-serif;
  padding: 0 0 0 10px;
  font-size: 16px;
  position: absolute;
  bottom: 10px;
  top: 10px;
  background-color: #e5e5e5;
}

.submit-btn-wrapper {
  border-radius: 50%;
  display: inline-block;
  background-color: cornflowerblue;
  position: absolute;
  right: 20px;
  opacity: 0.5;
}

.submit-btn {
  width: 40px;
  height: 40px;
  border: none;
  vertical-align: middle;
  background: url('../assets/send-message.svg');
  padding: 0;
}

.own-messages {
  text-align: right;
  animation: expandOwn 0.5s ease-in-out;
}

.other-message {
  text-align: left;
  animation: expand 0.5s ease-in-out;
}

.other-message .message-inner {
  border: solid 1px #e5e5e5;
  border-bottom-left-radius: 0px;
}

.own-messages .message-inner {
  background-color: lightgrey;
  border-bottom-right-radius: 0px;
}

.message-inner {
  max-width: 400px;
  display: inline-block;
  padding: 10px;
  margin: 5px 0 5px 5px;
  border-radius: 10px;
}

.nick-label, .message {
  display: inline-block;
  vertical-align: bottom;
}

.message {
  text-align: justify;
}

.error-message {
  color: red;
}

.typing {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.show {
  display: block;
}

/*===================== ANIMATION ==============================*/

@keyframes expandOwn {
  0% {
    transform: translate3d(500px, 0, 0);
    opacity: 0.5;
  }
  80% {
    transform: translate3d(-5px, 0, 0);
    opacity: 1;
  }
}

@keyframes expand {
  0% {
    transform: translate3d(-500px, 0, 0);
    opacity: 0.5;
  }
  80% {
    transform: translate3d(5px, 0, 0);
    opacity: 1;
  }
}